.cover__link {
    display: block;
    padding: 245px 0;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 44, 47, .3);
}
.cover__link:hover {
   background-color: rgba(42, 44, 47, .8);
   transition: background-color 1s linear;
}

@media (max-width: 1279px) {
    .cover__link {
        padding: 195px 0;
    }
}

@media (max-width: 1023px) {
    .cover__link {
        padding: 115px 0;
    }
}

@media (max-width: 767px) {
    .cover__link {
        padding: 33px 0;
    }
}
