* text=auto eol=lf

*.css text
*.md text
*.log text
*.html text
*.txt text

*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.svg binary
*.woff binary
*.woff2 binary

.gitattributes export-ignore
.gitignore export-ignore
