.header__logo {
    max-width: 176px;
    width: 100%;
    max-height: 52px;
    height: 100%;
    margin-top: 28px;
}

@media (max-width: 767px) {
    .header__logo {
        max-width: 142px;
        max-height: 42px;
        margin-top: 16px;
    }
}
