.footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1024px) and (max-width: 1279px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (max-width: 767px) {
    .footer__links {
        list-style: none;
        padding: 0;
        margin: 0 0 48px 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
