.cover__block {
    padding: 245px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 44, 47, .3);
}

.cover__block:hover {
   background-color: rgba(42, 44, 47, .8);
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .cover__block {
        padding: 195px 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cover__block {
        padding: 115px 0;
    }
}

@media (max-width: 767px) {
    .cover__block {
        padding: 33px 0;
    }
}
