.footer__item {
    margin: 0 18px 0 0;
}

.footer__item:last-of-type {
    margin-right: 0;
}

@media (min-width: 1024px) and (max-width: 1279px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (max-width: 767px) {
    .footer__item {
        margin: 0 0 32px 0;
    }
    .footer__item:last-of-type {
        margin: 0;
    }
}
